.navbar-nav li > a.selected[aria-current="true"]{
    color: #555;
    background-color: #e7e7e7;
}


form .formGroup{
    width: 100%;
    margin: 0px 0 15px 0;
}
form .formGroup label{
    width: 100%;
    display: block;
    padding: 5px 0;
    margin: 0;
}
form .formGroup input:not([type="radio"]):not([type="checkbox"]) {
    display: block;
    padding: 5px 10px;
    border: 1px solid #c0c0c0;
    color: #666;
    border-radius: 4px;
    width: 100%;
    line-height: 26px;
    background-color: #f8f8f8;

}
form .formGroup select{
    display: block;
    border: 1px solid #c0c0c0;
    color: #666;
    border-radius: 0;
    width: 100%;
    height: 36px;
}

form .formGroup.has-error > input:not([type="radio"]):not([type="checkbox"]),
form .formGroup.has-error > select{
    border: 1px solid #a94442;
}
form .formGroup .help-block{
    display: none;
}
form .formGroup.has-error .help-block{
    display: block;
}


.table-striped>tbody>tr.loading{
    background-color: transparent;
}
.table-striped>tbody>tr.loading td{
    text-align: center;
    padding: 50px 0;
}